.show-for-large {
    display: flex !important;
}

.show-for-medium {
    display: none !important;
}

.ui-menu {
    border: 1px solid transparent !important;
    width: 1140px !important;
    max-width: 1140px !important;
    margin: 0 auto !important;
}

@media only screen and (max-width: 680px) {
    .show-for-large {
        display: none !important;
    }

    .show-for-medium {
        display: flex !important;
    }
}