.pf-grid {
    margin: 10px;
    position: relative;
}

.pf-grid-nodes-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pf-grid-node {
    width: 25px;
    height: 25px;
}

.pf-grid-node-border-color {
    border-top: 1px solid #007bff;
    border-right: 1px solid #007bff;
}

.first-col-node {
    border-left: 1px solid #007bff;
}

.last-row-node {
    border-bottom: 1px solid #007bff;
}

.wall-node {
    background-color: #016936;
}

.width {
    height: 50% !important;
    width: 100% !important;
}

.height {
    display: inline-block !important;
    height: 100% !important;
    width: 50% !important;
}

.ico-lr {
    height: 0px !important;
    margin-top: -33px !important;
}

.ico-ud {
    height: 0px !important;
    margin-top: -20px !important;
    margin-left: -7px !important;
}

.ico-udr {
    height: 0px !important;
    margin-top: -25px !important;
    margin-left: -11px !important;
}

.ico-udl {
    height: 0px !important;
    margin-top: -25px !important;
    margin-left: -13px !important;
}

.ico-lru {
    height: 0px !important;
    margin-top: -42px !important;
    margin-left: -4px !important;
}

.ico-lrd {
    height: 0px !important;
    margin-top: -42px !important;
    margin-left: -4px !important;
}
