.pf-grid {
    margin: 10px;
    position: relative;
}

.pf-grid-nodes-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pf-grid-node {
    width: 25px;
    height: 25px;
}

.pf-grid-node-border-color {
    border-top: 1px solid #007bff;
    border-right: 1px solid #007bff;
}

.first-col-node {
    border-left: 1px solid #007bff;
}

.last-row-node {
    border-bottom: 1px solid #007bff;
}

.wall-node {
    background-color: #016936;
}

.top-icon-left-right {
    margin-top: -3px !important;
    height: 0px !important;
    display: block !important;
    margin-bottom: 8px !important;
}

.up-down-f {
    height: 0px !important;
    display: block !important;
    margin-left: -5px !important;
    margin-top: 1px !important;
}

.up-down-l {
    margin-left: 5px !important;
}
